:root {
  /* colors */
  --background-color: #000000;
  --font-color: #545454;
  --btn-color: #ffffff;
  --header-color: #1f1f1f;
  /* --footer-font: ; */

  /* size */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
header,
.hero,
.service,
.box,
.design,
.dream,
.form,
.customer {
  margin: 0px 5% 0px 5%;
}
nav {
  margin-top: 35px;

  .navbar-toggler-icon svg {
    fill: var(--background-color);
  }

  .navbar-nav {
    margin: auto;
    a {
      color: var(--font-color);
      font-size: 17px;
      margin-right: 30px;
    }
    a:hover {
      color: var(--background-color);
    }
  }
}
.nav-btn {
  font-size: 17px;
  padding: 10px 30px;
  background-color: var(--background-color);
  color: var(--btn-color);
  border: none;
  border-radius: 5px;
}
/* ********************************Hero Section ***************************/
.hero {
  margin-top: 5%;
  position: relative;
}
.hero-par {
  h3 {
    font-weight: 500;
    font-size: 110px;
  }
  p {
    width: 50%;
    margin-top: 5%;
    font-size: 22px;
    font-weight: 500;
    color: var(--font-color);
  }
}
.btn-all {
  margin-top: 5%;
  font-size: 20px;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  color: var(--btn-color);
  background-color: var(--background-color);
}
.image1 {
  position: absolute;
  width: 507px;
  height: 428px;
  top: 0px;
  left: 781px;
  border-radius: 4px;
}
.image2 {
  position: absolute;
  width: 638px;
  height: 406px;
  top: 460px;
  left: 550px;
  border-radius: 4px;
}
.hero-rectangle {
  position: absolute;
  width: 206px;
  height: 187px;
  top: 429px;
  left: 500px;
  border-radius: 4px;
  border: 2px solid var(--header-color);
}
.hero-arrow {
  position: absolute;
  background-color: var(--background-color);
  width: 151px;
  height: 151px;
  top: 715px;
  left: 88%;
  font-size: 100px;
  color: white;
  border-radius: 5px;
  p {
    margin-left: 35%;
  }
}

.hero-num span {
  position: absolute;
  font-family: Inter;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  width: 180px;
  height: 116px;
  top: 688px;
  color: var(--font-color);
  .p2 {
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    width: 180px;
  }
}
.span2 {
  margin-left: 175px;
}
.span3 {
  margin-left: 340px;
}
/* ***************************service***************************************/
.service {
  margin-top: 40%;
}
.line {
  width: 100px;
  height: 0px;
  border: 3px solid rgba(31, 31, 31, 1);
  border-radius: 3px;
}
.service-heading {
  font-family: Inter;
  font-size: 40px;
  font-weight: 600;
  text-align: left;
}

.container {
  margin-top: 5%;
}
.card {
  border: none;
  .card-body {
    padding: 0px;
    .card-text {
      margin-top: 5%;
    }
  }
}

/* ********************************************************************88 */
.design {
  display: flex;
  margin-top: 10%;
  .card {
    width: 50%;
    margin: 10% 0 0 5%;
    .card-body .card-title {
      font-family: Inter;
      font-size: 48px;
      font-weight: 600;
      text-align: left;
    }
    .card-body .card-text {
      font-family: Inter;
      font-size: 20px;
      font-weight: 500;
      text-align: left;
    }
    ul {
      margin-top: 10%;
      li {
        font-size: 24px;
        font-weight: 600;
        text-align: left;
        span {
          float: right;
        }
      }
    }
    button {
      margin-top: 10%;
    }
  }
}
.img-thumbnail {
  border: none;
  margin-top: 5%;
  padding: 0;
}
/* **********************************************************************************8 */
.vertical-line {
  border: 1px solid rgba(155, 155, 155, 1);
  width: 0px;
  height: 80px;
  margin: 30px 20px;
}
.dream {
  margin-top: 10%;
  display: flex;
}
.dream-container {
  width: 50%;
  margin-right: 5%;

  h3 {
    margin-top: 5%;
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    text-align: left;
  }

  .circle {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--background-color);
  }
  svg {
    margin: 13px 0px 0px 13px;
  }
  .card {
    margin-top: 10%;
    .card-body {
      h5 {
        font-family: Inter;
        font-size: 30px;
        font-weight: 700;
        text-align: left;
      }
      p {
        font-family: Inter;
        font-size: 20px;
        font-weight: 500;
        text-align: left;
      }
    }
  }
}
/* ******************************************************************************************** */
.customer {
  position: relative;
  margin-top: 10%;

  .customer-content {
    position: relative;
    p {
      position: absolute;
      top: 0;
      left: 55%;
      width: 40%;
      font-size: 48px;
      font-weight: 600;
      text-align: left;
      margin: 5% 3%;
    }
  }

  .customer-review {
    position: absolute;
    width: 40%;
    height: 67.5%;
    top: 32.5%;
    left: 19%;
    border-radius: 4px;
    background-color: var(--header-color);
    .h3 {
      font-size: 130px;
      font-weight: 500;
      text-align: left;
      color: var(--btn-color);
      padding: 0;
      margin: 10% 10% 0 10%;
    }
    p {
      font-family: Inter;
      font-size: 24px;
      font-weight: 500;
      text-align: left;
      color: var(--btn-color);
      margin: 0;
      padding: 0 10%;
    }
  }
  .customer-details {
    margin-top: 10%;
    display: flex;
    img {
      margin-left: 10%;
    }
    div {
      margin-left: 5%;
    }
    h5 {
      font-size: 20px;
      font-weight: 600;
      text-align: left;
      color: var(--btn-color);
    }
    p {
      width: 150px;
      margin: 0;
      padding: 0;
      font-size: 16px;
      font-weight: 500;
      color: var(--font-color);
    }
  }
  .customer-review2 {
    left: 63%;
  }
}

.person {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.box-container {
  width: 13%;
  display: flex;
  justify-content: space-between;
}
.box {
  margin-top: 10px;
  width: 63px;
  height: 63px;
  background: rgba(241, 241, 241, 1);
  svg {
    margin: 20px;
  }
}
/* *********************************************************** */
.form {
  width: 50%;
  margin: auto;
  margin-top: 20%;
  margin-bottom: 5%;
  h3 {
    font-size: 48px;
    font-weight: 600;
    text-align: center;
  }
  p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 5% 0;
  }
}
.form-email {
  position: absolute;
  background-color: var(--btn-color);
  width: 40%;
  padding: 10px;
  box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.14);
  input {
    border: none;
    margin-top: 10px;
  }
  button {
    float: right;
    margin: 0;
  }
}
/* ********************************************************************* */
footer {
  padding: 5%;
  background: var(--header-color);
}
.footer-caontainer {
  display: flex;
  justify-content: space-between;
  margin-top: 7%;
  .footer-content1,
  .info {
    width: 200px;
  }
  h5 {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: var(--btn-color);
    padding-bottom: 30px;
  }
  p {
    margin-top: 10%;
    color: rgba(209, 209, 209, 1);
    font-size: 16px;
    text-align: left;
  }
}
.footer-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 15%;
  width: 150px;
  .icon-box {
    width: 26px;
    height: 26px;
    border-radius: 4px;
    background: rgba(49, 49, 49, 1);
    i {
      color: var(--btn-color);
      margin: 5px 20%;
    }
  }
}
@media (max-width: 960px) {
  .navbar-nav {
    margin: 0px;
  }
  .hero-par {
    h3 {
      width: 100%;
      font-size: 50px;
    }
    p {
      width: 100%;
      font-size: 20px;
    }
  }
  .hero-num span {
    font-size: 20px;
    width: fit-content;
    top: 110%;
    left: 0px;
    .p2 {
      font-size: 15px;
      width: fit-content;
    }
  }
  .span2 {
    margin-left: 35%;
  }
  .span3 {
    margin-left: 70%;
  }

  .image1 {
    width: 60%;
    height: 90%;
    top: 150%;
    left: 20%;
  }
  .image2 {
    width: 70%;
    height: 90%;
    top: 250%;
    left: 2%;
  }
  .hero-arrow {
    top: 290%;
    left: 60%;
    p {
      margin-left: 35%;
    }
  }
  .hero-rectangle {
    top: 245%;
    left: -3%;
  }
  .service {
    margin-top: 100%;
  }
  .design {
    display: block;
    .card {
      width: 90%;
    }
  }
  .dream {
    display: block;
  }
  .dream-container {
    width: 90%;
  }
  .customer {
    .customer-content {
      margin-top: 30%;
      p {
        top: -25%;
        left: 5%;
        width: 90%;
        font-size: 38px;
      }
    }

    .customer-review {
      position: absolute;
      width: 70%;
      height: auto;
      top: 30%;
      left: 32%;
      .h3 {
        font-size: 70px;
        margin: 0 5%;
      }
      p {
        font-size: 20px;
        padding: 0 5%;
      }
    }
    .customer-details {
      margin-top: 10%;
      display: flex;
      img {
        margin-left: 10%;
      }
      div {
        margin-left: 5%;
      }
      h5 {
        font-size: 20px;
        font-weight: 600;
        text-align: left;
        color: var(--btn-color);
      }
      p {
        width: 150px;
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-weight: 500;
        color: var(--font-color);
      }
    }
    .customer-review2 {
      top: 73%;
    }
  }
}
@media (max-width: 567px) {
  .hero-par {
    width: 90%;
  }
  .hero-num span {
    top: 40%;
  }
  .image1 {
    position: static;
    width: 100%;
    height: 228px;
    margin-top: 140px;
    border-radius: 4px;
  }
  .image2 {
    position: static;
    margin-top: 15%;
    width: 100%;
    height: 406px;
  }
  .hero-arrow {
    width: 90px;
    height: 90px;
    top: 95%;
    left: 75%;
    p {
      font-size: 60px;
      margin-left: 35%;
    }
  }
  .hero-rectangle {
    top: 67%;
    left: -3%;
    z-index: -1;
  }
  .service {
    margin-top: 30%;
  }
  .dream {
    padding-right: 0;
    margin-right: 0;
    .photo {
      width: 300px;
      height: 300px;
    }
  }
  .dream-container {
    .row {
      flex-wrap: nowrap;
    }
    h3 {
      font-size: 30px;
    }
    .card {
      .card-body {
        margin-left: 5%;
        width: 70%;

        h5 {
          font-size: 25px;
        }
        p {
          font-size: 15px;
        }
      }
    }
  }

  .dream-content {
    flex-shrink: unset;
  }
  .card-content {
    width: 85%;
  }
  .design {
    .card {
      .card-body .card-title {
        font-size: 30px;
      }
    }
  }

  .customer {
    .customer-content {
      margin-top: 30%;
      p {
        top: -30%;
        left: 0%;
        /* width: 100%; */
        font-size: 28px;
      }
    }

    .customer-review {
      position: absolute;
      width: 70%;
      height: auto;
      top: 27%;
      left: 33%;
      .h3 {
        font-size: 60px;
        margin: 0 5%;
      }
      p {
        font-size: 17px;
        padding: 0 5%;
      }
    }
    .customer-details {
      margin-top: 10%;
      display: flex;
      img {
        margin-left: 5%;
      }
      div {
        margin-left: 5%;
      }
      h5 {
        width: 100px;
        font-size: 15px;
        font-weight: 600;
        text-align: left;
        color: var(--btn-color);
      }
      p {
        width: 100px;
        margin: 0;
        padding: 0;
        font-size: 13px;
        font-weight: 500;
        color: var(--font-color);
      }
    }
    .customer-review2 {
      top: 120%;
    }
  }

  .box {
    width: 53px;
    height: 63px;
  }
  .form {
    width: 95%;
    margin: auto;
    margin-top: 140%;
    margin-bottom: 20%;
    h3 {
      font-size: 28px;
    }
    p {
      font-size: 15px;
    }
  }
  .form-email {
    width: 90%;
  }
  footer {
    padding: 5%;
    background: var(--header-color);
  }
  .footer-caontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-column-gap: 5px; */
    grid-row-gap: 5px;
    margin-top: 10%;
    .footer-content1,
    .info {
      width: 150px;
    }
    h5 {
      font-size: 20px;
      font-weight: 600;
      text-align: left;
      color: var(--btn-color);
      padding-bottom: 30px;
    }
    p {
      margin-top: 10%;
      color: rgba(209, 209, 209, 1);
      font-size: 16px;
      text-align: left;
    }
  }
  .footer-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 15%;
    width: 150px;
    .icon-box {
      width: 26px;
      height: 26px;
      border-radius: 4px;
      background: rgba(49, 49, 49, 1);
      i {
        color: var(--btn-color);
        margin: 5px 20%;
      }
    }
  }
}
